// Import webfont
webfont('WebServeroff', 'web_serveroff', 'web_serveroff-webfont', 'normal')
webfont('MuseoSansBold', 'web_serveroff', 'MuseoSansBold', 'normal')
webfont('MuseoSansLight', 'web_serveroff', 'MuseoSansLight', 'normal')
webfont('MuseoSansMedium', 'web_serveroff', 'MuseoSansMedium', 'normal')
webfont('MuseoSansRegular', 'web_serveroff', 'MuseoSansRegular', 'normal')
webfont('PTSansRegular', 'web_serveroff', 'PTSansRegular', 'normal')

